* {
    background-color: #E5D1E5;
    color: grey;
}

h1 {
    font-family: 'Srisakdi', cursive; */
}

input {
    font-family: 'Fahkwang', sans-serif;
}
/* 
font-family: 'Fahkwang', sans-serif;
font-family: 'Srisakdi', cursive; */